<mat-toolbar class="mat-toolbar">

  <button mat-icon-button>
    <mat-icon 
      (click)="sidenav.toggle()">
      menu
    </mat-icon>
  </button>
  

  <span class="title-text">phillip & amanda</span>

</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">

  <mat-sidenav
    #sidenav 
    mode="over" 
    opened="false" 
    class="mat-sidenav">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>XDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD</p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>